<div class="main">
  <div class="header">
    <div class="nav-bar">
      <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="brand-name">
            <a class="navbar-brand" href="#">
              <img class="image" src="../../../assets/logo1.webp" alt="" />
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
              </li>

              <div class="nav-right">
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </div>
            </ul>

          </div>
        </div>
      </nav> -->

      <!-- start  -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <div class="brand-name">
            <a class="navbar-brand" href="#">
              <img class="image" src="../../../assets/logo1.webp" alt="" />
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Services</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- end  -->


    </div>
  </div>

  <div class="content">
    <br /><br />

    <div class="inner-content">
      <div class="left">
        <h1 class="title" #animeObject>Hi, I'm Poorna chandra rao !!</h1>
        <p class="subTitle">FrontEnd Developer</p>
        <p class="subContent">
          passionate developer having good experience <br />
          in web design and developement knowledge, <br />
          producing quality work.
        </p>
      </div>
      <div class="right">
        <div class="displayPic">
          <img src="../../../assets/Office_DP.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
