

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: hidden;
  
    }
  
    .header {
      width: 100vw;
      background-color: #fff;
      position: fixed;
    }
  
    .content {
      position: absolute;
      left: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      animation-name: fade-in;
      animation-duration: 7s;
      // margin-top: 114px;
      z-index: -1;
  
      .inner-content {
        display: flex;
        //   justify-content: space-between;
        //   margin-top: 100px;
        align-content: space-between;
        margin-left: 10px;
        width: 100%;
        height: 100%;
        flex-direction: column;
      }
  
      .left {
        width: 100%;
        height: 100%;
        .title,
        .subTitle,
        .subContent {
          // margin-left: 100px;
        }
        .title {
          font-size: 26px;
        }
        .subTitle {
          font-size: 20px;
        }
        .subContent {
          font-size: 15px;
          text-align: start;
        }
      }
      .right {
        width: 100%;
        height: 100%;
        margin-top: 103px;
        margin-left: 52px;
  
        .displayPic {
          img {
            width: 250px;
            height: 350px;
            border-radius: 20px;
            // margin-right: 20px;
            float: right;
            position: absolute;
            right: 250px;
          }
        }
      }
    }
  
    li {
      margin-right: 50px;
      margin-left: 50px;
      font-size: large;
    }
  
    .nav-right {
      position: absolute;
      right: 0px;
      display: flex;
    }
  
    .brand-name {
      font-size: larger;
      font-weight: bold;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  
    .image {
      width: 40px;
      height: 40px;
    }
  
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    body {
      background-color: yellow;
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      background-color: blue;
    }
  }
  
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    .main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  
    .header {
      width: 100vw;
      background-color: #fff;
      position: fixed;
    }
  
    .content {
      position: absolute;
      left: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      animation-name: fade-in;
      animation-duration: 7s;
      margin-top: 30px;
  
      .inner-content {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 100%;
        height: 100%;
      }
  
      .left {
        width: 50%;
        height: 100%;
        position: relative;
        top: -73px;
        .title,
        .subTitle,
        .subContent {
          margin-left: 100px;
        }
        .title {
          font-size: 40px;
        }
        .subTitle {
          font-size: 30px;
        }
        .subContent {
          font-size: 25px;
          text-align: start;
        }
      }
      .right {
        width: 50%;
        height: 100%;
  
        .displayPic {
          img {
            width: 250px;
            height: 350px;
            border-radius: 20px;
            // margin-right: 20px;
            float: right;
            position: absolute;
            right: 250px;
          }
        }
      }
    }
  
    li {
      margin-right: 50px;
      margin-left: 50px;
      font-size: large;
    }
  
    .nav-right {
      position: absolute;
      right: 0px;
      display: flex;
    }
  
    .brand-name {
      font-size: larger;
      font-weight: bold;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  
    .image {
      width: 60px;
      height: 60px;
    }
  
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
  /* Media Query for Large screens */
  @media (min-width: 1281px) {

    // .router {
    //   margin-left: 30px;
    //   margin-top: 50px;
    // }

      main {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
         
        }
      
        .header {
          width: 100vw;
          background-color: #fff;
          position: fixed;
          // top: 0px;
        }
      
        .content {
          position: absolute;
          left: 10px;
          display: flex;
          flex-direction: column;
          width: 100%;
          animation-name: fade-in;
          animation-duration: 7s;
          margin-top: 30px;
      
          .inner-content {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            width: 100%;
            height: 100%;
          }
      
          .left {
            width: 50%;
            height: 100%;
            position: relative;
            top: -73px;
            .title,
            .subTitle,
            .subContent {
              margin-left: 100px;
            }
            .title {
              font-size: 40px;
            }
            .subTitle {
              font-size: 30px;
            }
            .subContent {
              font-size: 25px;
              text-align: start;
            }
          }
          .right {
            width: 50%;
            height: 100%;
      
            .displayPic {
              img {
                width: 250px;
                height: 350px;
                border-radius: 20px;
                // margin-right: 20px;
                float: right;
                position: absolute;
                right: 250px;
              }
            }
          }
        }
      
        li {
          margin-right: 50px;
          margin-left: 50px;
          font-size: large;
        }
      
        .nav-right {
          position: absolute;
          right: 0px;
          display: flex;
        }
      
        .brand-name {
          font-size: larger;
          font-weight: bold;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      
        .image {
          width: 60px;
          height: 60px;
        }
      
        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
  }
  